@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  touch-action: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -6px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
